################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ParseBranch/.vs/ParseBranch/v17/Browse.VC.opendb
